* { margin:0; padding:0; }

html, body { 
  background-color:black; 
  height:100%; 
  position:relative; 
  width:100%; 
}

canvas { 
  height: 100%;
  width: 100%;
  /* position: fixed; */
}

h1, h2, h3, h4, h5, p, div, span, a {
  color: white;
  text-align: center;
  font-family: luminari;
  user-select: none;

}

li, p {
  font-size: 14px;
  list-style-type: none;
}

.fa-github, .fa-linkedin, .fa-angellist, .fa-arrow-circle-down {
  color: white;
}

.icons {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.score {
  width: 40%;
  margin: auto;
}

.instructions {
  display: none;
  width: 300px;
  /* transform: translate(0px, -540px); */
  z-index: 10;
  position: absolute;
  border: solid 1px white;
}

.hover-inner {
  padding-bottom: 20px;
}

#inst {
  text-align: left;
  font-size: 14px;
}

.hover:hover .instructions {
  display: block;
}

.hover {
  top: 200px;
  left: 100px;
  position: absolute;
  width: 175px;
}

#startBtn {
  left: 150px;
  top: 150px;
  position: absolute;
  height: 50px;
  width: 100px;
  font-size: 30px;
  font-family: luminari;
  background-color: white;
  border-radius: 8px;
}

#startBtn:hover {
  background-color: lightgrey;
  cursor: pointer;
}

#gameOver {
  left: 150px;
  top: 150px;
  position: absolute;
  height: 50px;
  width: 100px;
  color: white;
  font-size: 30px;
  font-family: luminari;
}

#startWrapper {
  width: 400px;
  height: 400px;
  left: calc(50% - 200px);
  top: calc(50% - 200px + 54px);
  position: absolute;

  /* border: solid 1px white; */
}

/* .gameCanvas {
  cursor: pointer;
} */