* { margin:0; padding:0; }

html, body { 
  background-color:black; 
  height:100%; 
  position:relative; 
  width:100%; 
}

canvas { 
  height: 100%;
  width: 100%;
  /* position: fixed; */
}

h1, h2, h3, h4, h5, p, div, span, a {
  color: white;
  text-align: center;
  font-family: luminari;
  user-select: none;

}

li, p {
  font-size: 14px;
  list-style-type: none;
}

.fa-github, .fa-linkedin, .fa-angellist, .fa-arrow-circle-down {
  color: white;
}

.icons {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.score {
  width: 40%;
  margin: auto;
}

.instructions {
  display: none;
  width: 300px;
  /* transform: translate(0px, -540px); */
  z-index: 10;
  position: absolute;
  border: solid 1px white;
}

.hover-inner {
  padding-bottom: 20px;
}

#inst {
  text-align: left;
  font-size: 14px;
}

.hover:hover .instructions {
  display: block;
}

.hover {
  transform: translate(80px, -580px); 
  width: 175px;
}

/* .gameCanvas {
  cursor: pointer;
} */